<!DOCTYPE html>
 {% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Agriculture Cow Farming in ReddyVariPalli</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo.css'%}" >
</head>
<body>

<div class="jumbotron text-center">
  <h1>Agriculture Cow Farming in ReddyVariPalli</h1>
  <p>We are Develop the Agriculture Farming </p>
</div>

<div class="container">
  <h2>Holstein Friesian cows:</h2>
    <p>Holstein Friesian cows now dominate the global dairy industry. The Holstein-Friesian has the<mark>Highest Milk Production</mark> of all breeds worldwide.</p>
    <img src="https://images.all-free-download.com/images/graphiclarge/black_cow_183261.jpg" alt="Trulli" width="400" height="250">


</div>

</div>
<h3>What Do Cow Eats?</h3>
<table>
<tr>
    <th>Company</th>
    <th>Cows Eat</th>
    <th>Cost</th>
    <th>India</th>

</tr>
<tr>
    <td>Heritage</td>
    <td>Cost of green fodder</td>
    <td>30Kgs for 1200Rs</td>
    <td>Andhra Pradesh State</td>

</tr>
<tr>
    <td>Thirumala</td>
    <td>Cost of dry fodder</td>
    <td>30Kgs for 1300Rs</td>
    <td>karnataka State</td>

</tr>
<tr>
    <td>Dodla </td>
    <td>Cost of cattle feed</td>
    <td>30Kgs for 1100Rs</td>
    <td>Telangana State</td>

</tr>
<tr>
    <td>Hatsun</td>
    <td>Cost of mineral mixture</td>
    <td>30Kgs for 1500Rs</td>
    <td>TamilNadu State</td>

</tr>
    </table>

<h4>Register Names</h4>

<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="bali"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="madhu">
</form>
<h6>Gender </h6>
   <form>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label>
</form>

<h5>Absolute URLs</h5>
<p><a href="https://www.google.com/">Google</a></p>
<p><a href="https://www.youtube.com/">youtube</a></p>
<p><a href="https://www.facebook.com/">facebook</a></p>


 <input type="submit" value="Submit">

</body>
</html>
